## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

# Display the data table for preview

In [17]:
mouse_metadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [12]:
mouse_metadata.describe()

       Age_months  Weight (g)
count  249.000000  249.000000
mean    12.730924   26.116466
std      7.228687    3.697003
min      1.000000   15.000000
25%      6.000000   25.000000
50%     13.000000   27.000000
75%     19.000000   29.000000
max     24.000000   30.000000

In [13]:
# Checking the number of mice.
number_of_mice = mouse_metadata["Mouse ID"].nunique()
number_of_mice

249

In [16]:
number_of_mice_df = pd.DataFrame([number_of_mice], columns =["Number of Mice"])
number_of_mice_df

   Number of Mice
0             249

In [18]:
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [19]:
study_results.describe()

         Timepoint  Tumor Volume (mm3)  Metastatic Sites
count  1893.000000         1893.000000       1893.000000
mean     19.572108           50.448381          1.021659
std      14.079460            8.894722          1.137974
min       0.000000           22.050126          0.000000
25%       5.000000           45.000000          0.000000
50%      20.000000           48.951474          1.000000
75%      30.000000           56.292200          2.000000
max      45.000000           78.567014          4.000000

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [23]:
number_of_mice = study_results["Mouse ID"].nunique()
number_of_mice

249

In [25]:
number_of_mice_df = pd.DataFrame([number_of_mice], columns = ["Number of Mice"])
number_of_mice_df

   Number of Mice
0             249

In [31]:
# Retrive Mouse ID
mouse_id = study_results.loc[:,["Mouse ID"]]
mouse_id

     Mouse ID
0        b128
1        f932
2        g107
3        a457
4        c819
...       ...
1888     r944
1889     u364
1890     p438
1891     x773
1892     b879

[1893 rows x 1 columns]

In [32]:
# Retrieve Mouse ID drop duplicate
mouse_id = study_results.drop_duplicates()
mouse_id

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1892 rows x 4 columns]

In [33]:
# Combining mouse_metadata and study_results into one dataframe
combined_dataframe = pd.merge(mouse_metadata, study_results, how="outer", on="Mouse ID")
combined_dataframe

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [39]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
combined_dataframe.drop_duplicates()

## not working

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [37]:
# Checking the number of mice in the clean DataFrame.
combined_dataframe

## not working

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

## Summary Statistics

In [64]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
summary_dataframe = combined_dataframe.groupby("Drug Regimen")
summary_dataframe

In [46]:
# mean of the tumor volume.
mean_of_tumor = summary_dataframe["Tumor Volume (mm3)"].mean()
mean_of_tumor

9549.878453512

In [58]:
# median of the tumor volume.
median_of_tumor = summary_dataframe["Tumor Volume (mm3)"].median()
median_of_tumor

9551.26886086

In [54]:
# variance of the tumor volume.
variance_of_tumor = summary_dataframe["Tumor Volume (mm3)"].var
variance_of_tumor

<bound method Series.var of Drug Regimen
Capomulin     9355.420462
Ceftamin      9361.228582
Infubinol     9413.493529
Ketapril     10384.299876
Naftisol     10105.671026
Placebo       9780.078122
Propriva      8423.930878
Ramicane      9169.417875
Stelasyn      9816.199991
Zoniferol     9689.044192
Name: Tumor Volume (mm3), dtype: float64>

In [50]:
# standard deviation of the tumor volume.
std_of_tumor = summary_dataframe["Tumor Volume (mm3)"].std()
std_of_tumor

542.9305637514464

In [51]:
# SEM of the tumor volume.
sem_of_tumor = summary_dataframe["Tumor Volume (mm3)"].sem()
sem_of_tumor

171.68971927738227

In [66]:
# Assemble the resulting series into a single summary dataframe.
summary_grouped_dataframe = pd.DataFrame({"Mean": [mean_of_tumor],
                                         "Median": median_of_tumor, 
                                         # "Variance": variance_of_tumor, 
                                         "Standard Deviation": std_of_tumor, 
                                         "SEM": sem_of_tumor})

summary_grouped_dataframe

          Mean       Median  Standard Deviation         SEM
0  9551.268861  9551.268861          542.930564  171.689719

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen